.title {
  font-family: "Oregano", cursive;
  cursor: pointer;
  color: white !important;
  font-size: 48px !important;
  line-height: 62px;
  margin-left: 10px;
}
.nav-container {
  background-color: black;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.option {
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.boot {
  paddingleft: 0;
  paddingright: 0;
}
