.title {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Pacifico", cursive;
  margin-left: 5px;
}
.nav-container {
  background-color: #736c75;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.option {
  padding: 10px 15px;
  cursor: pointer;
}
