.signin-container {
  border: solid red;
  width: 700px;
  align-content: center;
  margin: auto;
  text-align: center;
}
input {
  width: 500px;
}

.details {
  align-content: center;
  height: 10em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: 1rem;
}

.button {
  text-align: center;
}
